<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content-based recomandation system</title>
</head>
<body>
    <nav>
        <h2>Content-based recomandation system</h2>
    </nav>
    <hr>
    <p>Fill in the user and number of games to show to reccomend:</p>
    <form action="/data" method = "POST">
    <p>User: <input type = "text" name = "User" /></p>
    <p>Number of recomandations: <input type = "text" name = "Number of recomandations" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>